<ul>
  <% if @comments.length > 0 %>
    <% @comments.each do |comment| %>
      <li>
        <div class="info">
          <i class="fa fa-user"></i> <strong><%= comment.user.username %></strong>
          <i class="fa fa-clock-o"></i> <%= comment.created_at.strftime("%B %m, %Y %H: %M") %> 
        </div>
        <div class="comment">
          <%= comment.comment %>
          <% if comment.user == current_user %>
            <a href="#"><i class="fa fa-trash"></i> 삭제하기</a>
          <% end %>
        </div>
      </li>
    <% end %>

  <% else %>
    <li class="no-data">
      댓글이 없습니다.
    </li>
  <% end %>
</ul>